AWS_REGION=your_region_aws
COGNITO_USER_POOL_ID=your_user_pool_id
COGNITO_APP_CLIENT_ID=your_client_app_id
DYNAMODB_TABLE_NAME=your_table_name
ALLOWED_ORIGINS=http://localhost:5173

AWS_ACCESS_KEY_ID=your_aws_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key