AWS_REGION=your_region_aws
COGNITO_USER_POOL_ID=your_user_pool_id
COGNITO_APP_CLIENT_ID=your_client_app_id
DYNAMODB_EMPLOYEES_TABLE=Employees
DYNAMODB_FOLDERS_TABLE=Folders
DYNAMODB_DOCUMENTS_TABLE=Documents
ALLOWED_ORIGINS=http://localhost:5173
PINECONE_API_KEY=your_api_key
PINECONE_INDEX_NAME=index_name

AWS_ACCESS_KEY_ID=your_placeholder
AWS_SECRET_ACCESS_KEY=your_own_placeholder

# S3 Bucket
S3_BUCKET_NAME=bucket_name

# RESEND API
RESEND_API_KEY=api_key
RESEND_FROM_EMAIL=onboarding@resend.com<your_own_placeholder>
